<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Manipulation App</title>
</head>
<body>
    <h1>Document Manipulation App</h1>
    <a href="{{ url_for('validate_page') }}"><button>Validate Format</button></a>
    <a href="{{ url_for('validate_and_merge_page') }}"><button>Validate and Merge</button></a>
    <a href="{{ url_for('remove_duplicates_page') }}"><button>Remove Duplicates</button></a>
</body>
</html>
